@charset "utf-8";

@keyframes on{
    0%{transform: translateX(0);}
    50%{transform: translateX(100px);}
    100%{transform: translateX(0);}
    
}

@keyframes tit_bg{
    0%{width: 0;}
    100%{width: 100%;}
}