@charset "utf-8";

/*모바일*/

/*
html{
    background: url(../img/bg_img.jpg) no-repeat center top / 100% 100%;
}*/
#wrap{
    position: relative;
}
header{
    width: 100%;
    height: 70px;
    padding: 20px;
    margin-bottom: 100px;
}
.header_wrap{
    position: relative;
}
header h1 {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
header h1 a img{
    width: 100%;
    height: 100%;
}
.header_wrap .drop_btn{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}
.header_wrap .drop_btn img{
    width: 100%;
    height: 100%;
}
.header_wrap .about_po{
    position: absolute;
    top: 0;
    right: 0;
}
.header_wrap .about_me{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 0;
    border-radius: 30px;
    font-size: 0;
    color: transparent;
    z-index: 8;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.header_wrap .about_me img{
    width: 100%;
    height: 100%;
}
.header_wrap .click{
    position: absolute;
    top:0;
    right: 0;
    width: 80px;
}
.header_wrap .click img{
    width: 100%;
    height: 100%;
}

.mgnb_wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 9999999;
    padding: 60px 60px;
    /* background-image: linear-gradient(to left, rgb(105, 145, 255), rgb(255, 248, 224)); */
    background-color: rgb(162, 187, 255) ;
}
.mgnb_wrap .close_btn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 40px;
}
.mgnb_wrap .close_btn img{
    width: 100%;
}

.mgnb{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.mgnb li{
    padding: 20px 0;
}
.mgnb li a{
    font-size: 30px;
    font-weight: bold;
}

.about_wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 9999999;
    padding: 60px 60px;
    /* background-image: linear-gradient(to left, rgb(105, 145, 255), rgb(255, 248, 224)); */
    background-color:#fff5d3 ;
    overflow-y: scroll;
}
.about_wrap .close_btn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    right: 40px;
}
.about_wrap .close_btn img{
    width: 100%;
    height: 100%;
}


/*인트로 시작*/
.inner{
    padding: 0 20px;
}
.my_pic{
    margin: 0 auto;
    width: 150px;
    height: 150px;
}
.my_pic img{
    width: 100%;
    height: 100%;
}
.name{
    padding: 40px 0 0;
    text-align: center;
    margin-bottom: 20px;
}
.name p{
    font-size: 32px;
    font-weight: bold;
}
.name .sub_name{
    font-size: 18px;
}
.edu{
    margin: 60px 0;
    font-family: "Noto Sans KR", sans-serif;
}
.edu .title{
    font-size: 20px;
    font-family: "Noto Serif KR", serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.edu_box{
    display: flex;
    margin-bottom: 20px;
    
}
.edu_box .year{
    font-size: 16px;
    
    font-weight: bold;
    margin-right: 20px;
}
.edu_box .school p{
    font-size: 16px;
    font-weight: bold;
}
.edu_box .school span{
    font-size: 12px;
}

.certi{
    font-family: "Noto Sans KR", sans-serif;
    margin-bottom: 60px;
}
.certi .title{
    font-size: 20px;
    font-family: "Noto Serif KR", serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.certi  li{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.skill{
    margin-bottom: 60px;
}
.skill .title{
    font-size: 20px;
    font-family: "Noto Serif KR", serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.skill_box{
    display: flex;
    flex-wrap: wrap;
}
.skill_box li{
    width: 50px;
    height: auto;
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 15px;
}
.skill_box li img{
    width: 100%;
    height: 100%;
}
.project{
    margin: 100px 0;
}

.project .title{
    font-size: 20px;
    font-family: "Noto Serif KR", serif;
    font-weight: bold;
    margin: 20px 0;
    text-align: right;
}

.mobile{
    width: 100%;
    margin: 0 auto;
}
.mobile .img_box{
    margin-bottom: 80px;
    border-radius: 5%;

}
.mobile .box{
    width: 100%;
    height: 600px;
    position: relative;
}

.mobile .box a{
    height: 100%;
    width: 100%;

    display: block;
}
.mobile .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*border-radius: 10px;*/
}

.mobile .tit{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all 0.5s;
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(to left, rgb(105, 145, 255), rgb(255, 252, 205));
}
.mobile .tit.active{
    opacity: 1;
    transform: translate(-50%,-50%);
}
.mobile .tit .m_name{
    font-size: 48px;
}
.mobile .tit .counter{
    font-size: 20px;
}

#pc{
    display: none;
}
.side_icon{
    position: fixed;
    bottom: 10%;
    right: 40px;
    z-index: 999999;
}
.con_side_icon{
    position: fixed;
    bottom: 20%;
    right: 40px;
    z-index: 999999;
}
.insta{
    width: 60px;
    height: 60px;
    padding: 30px;
    margin-bottom: 10px;
    background: #000 url(../img/f_sns_insta.png) no-repeat center center / 40px auto;
    font-size: 0;
    color: transparent;
    border-radius: 50%;
    display: block;
}

.go_top{
    width: 60px;
    height: 60px;
    padding: 30px;
    background: #000 url(../img/go_top.png) no-repeat center center / 30px auto;
    font-size: 0;
    color: transparent;
    border-radius: 50%;
    display: block;
    
}

footer{
    padding: 40px 0;
    background-color:#222;
    position: relative;
    z-index: 99999;
    
}
.f_inner{
    width: 80%;
    margin: 0 auto;

}
.f_inner .f_info{
   padding: 20px;
   margin: 0 auto;
}
.f_inner .f_info h2{
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.f_inner .f_info label{
    display: block;
    margin-bottom: 10px;
}
.f_inner .f_info input{
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color:#373737;
    border: 1px solid #434343;
}
.f_inner .f_info input:focus{
    color: #fff;
    outline: none;
}
.f_inner .f_info textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color:#373737;
    border: 1px solid #434343;
}
.f_inner .f_info textarea:focus{
    color: #fff;
    outline: none;
}
.f_inner .f_info button{
    padding: 7px 13px;
    border: 1px solid #fff;
    background-color: #222;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
}



/*768 이상*/
    @media screen and (min-width:768px) {
        html{
            background: url(../img/bg_img.jpg) no-repeat center top / cover;
        }
        .mgnb li {
            padding: 25px 0;
        }
        .mgnb li a{
            font-size: 40px;
        }

        .mobile{
            width: 80%;
            margin: 0 auto;
        }
        .mobile .box{
            height: 800px;
        }

        .con_side_icon{
            bottom: 10%;
        }




        .f_inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
       
        .f_inner .f_info{
            width: 50%;
         }
         .f_inner .f_info textarea{
            height: 150px;
         }

     
       
        
    }

/*1200 이상*/
    @media screen and (min-width:1200px){
        html{
            background: url(../img/bg_img.jpg) no-repeat center top / cover;
        }
        header{
            margin-bottom: 50px;
        }

   
        .header_wrap .about_me:hover .click{
            opacity: 0.5;
            transform: rotate(-15deg);
        }

        .mgnb_wrap{
            padding-left: 150px;
        }
        .mgnb{
            width: 50%;
            margin-top: 0;
        }

        .mgnb li a{display: block;}
        .mgnb li:hover a{
            animation: on 0.5s backwards;
        }
        .about_wrap .about_me_box .edutoskill_wrap{
            display: flex;
            flex-wrap: wrap;
        }
     
      
        .about_wrap .about_me_box li.my_pic{
            margin: 0 auto;
            width: 15%;
            height: auto;
        }
        .about_wrap .about_me_box li.my_pic img{
            width: 100%;
            height: 100%;
            
        }
        .edu, .certi {
            margin-top: 80px;
        }
        .about_wrap .about_me_box .edutoskill_wrap > li{
            width: 50%;
        }
        .skill_box{
            flex-wrap: nowrap;
        }
     
    

        #mobile{
            display: none;
        }
        #pc{
            display: block;
            padding-top: 50px;
        }


        /*pc버전 슬라이더 시작*/
      
       
        .pc_inner{
            width: 1024px;
            margin: 60px auto;
            position: relative;
        }
        .pc_inner .flex_wrap{
            display: flex;
            flex-wrap: wrap;
        }
        .pc_inner .pc_img_box{
            width: 50%;
            position: relative;
    
        }
       
        .pc_inner .pc_box{
            width: 100%;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            position: relative;

        }
        .pc_inner .pc_box img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .pc_inner .pc_box .img_detail{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 88;
            opacity: 0;
            transition: all 0.5s;
        }
      
        .pc_inner .pc_tit{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
            transition: all 0.5s;
            z-index: 99;
            text-align: center;
            font-weight: bold;
            
        }
        .pc_inner .pc_tit a{
            position: relative;
            z-index: 90;
            cursor: pointer;
        }
        .pc_inner .pc_box:hover + .pc_tit{
            opacity: 1;
        }
        .pc_inner .pc_tit .pc_tit_bg{
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to left, rgb(105, 145, 255), rgb(255, 248, 224));
            position: absolute;
            top: 0;
            left: 0;
        }
        .pc_img_box:hover .pc_tit_bg{
            animation: tit_bg 0.3s backwards ease-out 0.1s;
        }
        .pc_inner .pc_tit .pc_name{
            font-size: 60px;
            
        }
        .pc_inner .pc_tit .pc_counter{
            font-size: 16px;
            
        }

        /*pc버전 슬라이더 시작*/
        .myname{
           margin: 0 auto;
        }
        .myname p{
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .myname .sub_myname{
            font-size: 14px;
        }
        .my_info_wrap{
            display: flex;
            justify-content: space-between;
        }
        
        .pc_skill_box {
            width: 400px;
            display: flex;
            flex-wrap: wrap;
        }
        .pc_skill_box li{
            position: relative;
            width: 50px;
            height: 50px;
            margin-right: 20px;
            margin-bottom: 20px;
   
            cursor: pointer;
        }
        .pc_skill_box li img{
            width: 100%;
            height: 100%;
        } 
      
        .pc_skill_box li:hover .skill_bg{
            height: 50px;
            background-image: linear-gradient(to left, rgb(105, 145, 255), rgb(217, 227, 255));
            position: absolute;
            top: 7px;
            left: 0;
            z-index: -9;
            animation: tit_bg 0.3s backwards ease-out 0.1s;
        }
        .pc_skill_box:hover .skill_bg{
            width: 100%;
        }

      
        .f_inner{
            width: 1024px;
            margin: 0 auto;
        }
        .f_inner .f_info button:hover{
            background-color: #fff;
            color: #222;
        }

  
            
    }
