@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    line-height: 1.35;
    font-family: "Noto Serif KR", serif;
    color: #222;
    background-color:#FFFAE5;
}
a{
    text-decoration: none;
    color: #000;
}
ul,ol{
    list-style: none;
}
img{
    vertical-align: top;
}
input,select{
    vertical-align: top;
}